.syntax-text-area {
    -fx-background-color: #F7FAFF;
    -fx-cursor: text;
}

.syntax-text-area .paragraph-box:has-caret {
    -fx-background-color: #fffae3;
}

.syntax-text-area .text {
    -fx-fill: #000000;
}

.syntax-text-area .lineno {
    -fx-text-fill: rgba(51, 51, 51, 0.32);
    -fx-fill: rgba(51, 51, 51, 0.32);
    -fx-background-fill: rgba(51, 51, 51, 0.32);
}

.syntax-text-area .gutter {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0 1px 0 0;
}

.syntax-text-area .text.comment {
    -fx-fill: #818181;
    -fx-font-style: italic;
}

.syntax-text-area .text.keyword {
    -fx-fill: #000080;
    -fx-font-weight: medium;
}

.syntax-text-area .text.string {
    -fx-fill: #008000;
}

.syntax-text-area .text.number {
    -fx-fill: #0000FF;
}

.syntax-text-area .text.variable {
    -fx-fill: #660000;
}

.syntax-text-area .text.error {
    -rtfx-background-color: rgba(255, 0, 0, 0.61);
}

.syntax-text-area .text.warning {
    -rtfx-background-color: rgba(255, 237, 69, 0.31);
}